*{
  font-family: Helvetica;
}

#mainPage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.mainBox{
  background-color: rgba(0,0,0,0.8);
  height: 600px;
  width: 30%;
  margin-top: 90px;
  color: white;
}

.newDivPic{
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1.0;
  padding-top: 30px;
}

.newDivInfo{
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  color: white;
}

.centralBoxStuff{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:30px;
  font-size: 40px;
}